*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000;
  color: #fff;
}
/* addPost Styling */
.addPostContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #393838bd;
  padding: 1rem 0;
}
.addPostForm{
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:300px ;
}
.addPostInput{
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}
.addPostInput input,textarea{
  padding: 10px;
  opacity: 0.9;
  border: 1px solid #fff;
  outline: none;
}
.addPostInput textarea{
  height: 50px;
}
.addPostInput select{
  height: 2rem;
}
.addPostForm button{
  border: 2px solid #000;
  border-radius: 6px;
  width: 100%;
  padding: 10px 0;
  background-color: #a09b9b;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
/* Post Styling */
.postContainer1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
.post{
  width: 35vw;
  border: 2px solid white;
  margin: 0.4rem 0;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
}
.post .postContent{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 23vw;
  justify-content: space-evenly;
  height: 120px;
  /* border: 2px solid red; */
}
.post .removeBtn{
  padding: 6px;
  background-color: red;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  border: 2px solid red;
  border-radius: 6px;
}
.post .reactionBtn{
  margin: 0 .6rem 0 0;
  padding: 3px;
  background-color: transparent;
  color:  white;
  border: none;
  cursor: pointer;
}